//---------------------------------------
//  Carousel
//---------------------------------------

// Main -------------------------------

.carousel {
  display: none;
  background-color: $secondary-background-color;
  justify-content: center;
}

.carousel-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
}

.carousel-img {
  display: flex;
  height: 60px;
  width: 150px;
}

.img-busseys {
  background-image: url("../imgs/carousel-busseys-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-busseys:hover {
  background-image: url("../imgs/carousel-busseys.png");
}

.img-crane {
  background-image: url("../imgs/carousel-crane-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-crane:hover {
  background-image: url("../imgs/carousel-crane.png");
}

.img-beat {
  background-image: url("../imgs/carousel-beat-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
}

.img-beat:hover {
  background-image: url("../imgs/carousel-beat.png");
}

.img-northern {
  background-image: url("../imgs/carousel-northern-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-northern:hover {
  background-image: url("../imgs/carousel-northern.png");
}


// Pop Ups -------------------------------

.pop-up-container {
  display: flex;
  justify-content: center;
}

.pop-up {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -50%;
  transform: translate(-50% -0%);
  width: 300px;
  background-color: $primary-color;
  color: white;
  padding: 30px 20px 20px 20px;
}

.pop-up h3 {
  font-size: 18px;
}

.pop-up p {
  font-size: 13px;
  text-align: center;
  display: inline-flex;
}

.pop-up .line {
  background-color: white;
  margin: 10px 0 15px 0;
}

.pointer {
  position: absolute;
  bottom: -25px;
  background-color: $primary-color;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
}


// Hover -------------------------------

.img-busseys:hover + .busseys {
  display: flex;
}

.img-crane:hover + .crane {
  display: flex;
}

.img-beat:hover + .beat {
  display: flex;
}

.img-northern:hover + .northern {
  display: flex;
}




//---------------------------------------
//  Media Queries
//---------------------------------------

// Laptops ------------------------------

@media (min-width:768px) {
  .carousel {

    display: flex;
  }
}

@media (max-width:991px) {

  .pop-up {
    width: 250px;
  }
}

@media (max-width:991px)
and (min-width:768px) {

  .carousel-container {
    width: 750px;
  }

  .carousel img {
    height: 50px;;
  }
  //
  // .busseys {
  //   top: -162.5px;
  // }
  //
  // .crane {
  //   top: -201.5px;
  // }
  //
  // .beat {
  //   top: -162.5px;
  // }
  //
  // .northern {
  //   top: -201.5px;
  // }
}


// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {

  .carousel-container {
    width: 970px;
  }

  .carousel-img {
    height: 90px;
    width: 240px;
  }

  .img-busseys {
    width: 180px;
  }

  .img-beat {
    width: 70px;
  }

  .pop-up {
    width: 275px;
  }
  //
  // .busseys {
  //   top: -162.5px;
  // }
  //
  // .crane {
  //   top: -201.5px;
  // }
  //
  // .beat {
  //   top: -162.5px;
  // }
  //
  // .northern {
  //   top: -182px;
  // }
}


// Extra Large ------------------------------

@media (min-width:1261px) {

  .carousel-container {
    width: 1200px;
  }

  .carousel-img {
    height: 80px;
    width: 270px;
  }

  .img-busseys {
    width: 220px;
  }

  .img-beat {
    width: 70px;
  }

  // .busseys {
  //   top: -143px;
  // }
  //
  // .crane {
  //   top: -182px;
  // }
  //
  // .beat {
  //   top: -162.5px;
  // }
  //
  // .northern {
  //   top: -182px;
  // }
}
