//---------------------------------------
//  Footer
//---------------------------------------

footer {
  background-color: $primary-color;
  color: white;
  padding: 30px 15px;
  font-family: 'Poppins', sans-serif;
}

footer h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 25px;

}

footer ul {
  padding-left: 0;
  margin-bottom: 35px;
}

footer li {
  list-style: none;
  font-size: 13px;
  margin-bottom: 3px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.social-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

footer button {
  width: 47.7%;
  height: 50px;
  background-color: $background-color-3;
  border: none;
}

.social-icon {
  color: white;
}

.facebook {
  margin: 10px 10px 10px 0;
}

.facebook:hover {
  background-color: #3b5998;
}

.twitter {
  margin: 10px 0 10px 10px;
}

.twitter:hover {
  background-color: #00aced;
}

.insta {
  margin: 10px 10px 10px 0;
}

.insta:hover {
  background-color: #d93175;
}

.linkedin {
  margin: 10px 0 10px 10px;
}

.linkedin:hover {
  background-color: #0077b5;
}
