//---------------------------------------
//  Info
//--------------------------------------


.info {
  background-color: $primary-color;
  color: white;
  padding: 40px 15px 50px 15px;
}

.info h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 20px;
}

.info p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  line-height: 30px;
}

.info .strong {
  font-weight: 600;
}

.info button {
  background-color: white;
  color: $primary-color;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.4px;
}

.info button:hover {
  background-color: #ebebeb;
}

.info button .arrow {
  padding-left: 10px;
}


//---------------------------------------
//  Media Queries
//---------------------------------------

// laptops ------------------------------

@media (max-width:991px)
and (min-width:768px) {

  .info {
    display: flex;
    justify-content: center;
  }

  .info-container {
    width: 708px;
    justify-content: center;
  }
}


// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {

  .info {
    display: flex;
    justify-content: center;
  }

  .info-container {
    width: 932px;
    justify-content: center;
  }
}

@media (min-width:992px) {
  .info {
    background-image: url("../imgs/branded.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}


// ExtraLarge ------------------------------

@media (min-width:1261px) {

  .info-container {
    width: 570px;
    justify-content: flex-start;
    margin-left: 60px;
  }
}
