//---------------------------------------
//  Latest News
//---------------------------------------

// Title Section ------------------------
.title {
  background-color: white;
  filter: drop-shadow(0 .5rem .4rem rgba(0,0,0,0.05));
}

.title h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $primary-color;
  border-bottom: 5px solid $primary-color;
  margin: 0 15px;
  padding: 40px 0;
  width: 71px;
  letter-spacing: 0.4px
}

// Main Section ------------------------
.latest {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-color;
  width: 100%;
  padding: 30px 0;
}

// Card Styles ------------------------
.latest-card {
  margin: 15px;
  background-color: white;
  border: 1px solid $primary-border-color;
  border-radius: 4px;
  overflow: hidden;
}

// Top Section ------------------------
.card-image-1 {
  width: 100%;
}

.latest-card .content,
.latest-card .details {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: $secondary-color;
}

.latest-card .content {
  padding: 30px 30px 0 30px;
}

.latest-card a {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: none;
}

.latest-card p {
  font-size: 13px;
  font-weight: 400;
  padding-top: 20px;
}

// Bottom Section ------------------------
.latest-card .line-break {
  display: flex;
  margin: 20px 30px 0 30px;
  width: auto;
  border-top: 1px solid $primary-border-color;
}

.author {
  display: flex;
  align-items: center;
  padding: 30px;
}

.card-image-2 {
  border-radius: 50%;
  height: 47px;
  width: 47px;
  margin-right: 20px;
}

.details p {
  margin: 0;
  padding: 2px 0;
}

.details .name {
  font-weight: 600;
  color: $primary-color;
}

// Colors ---------------------------------------

.careers a {
  color: $careers;
}

.careers button {
  background-color: $careers;
}

.careers button:hover {
  background-color: $careers-hover;
}

.news-1 a {
  color: $news-1;
}

.news-1 button {
  background-color: $news-1;
}

.news-1 button:hover {
  background-color: $news-1-hover;
}

.news-2 a {
  color: $news-2;
}

.news-2 button {
  background-color: $news-2;
}

.news-2 button:hover {
  background-color: $news-2-hover;
}
