//---------------------------------------
//  Partners and Awards
//---------------------------------------

// Partners ------------------------------

.partners-and-awards {
  padding: 40px 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.partners,
.awards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.partners {
  margin-bottom: 30px;
}

.partners div,
.awards div {
  height: 60px;
  width: 300px;
  display: flex;
}

.partners div {
  height: 60px;
}

.awards div {
  height: 45px;
}

.google {
  background-image: url("../imgs/partners-google.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.microsoft {
  background-image: url("../imgs/partners-microsoft-gray.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.microsoft:hover {
  background-image: url("../imgs/partners-microsoft.jpg");
}

.future-50 {
  background-image: url("../imgs/partners-future50-gray.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.future-50:hover {
  background-image: url("../imgs/partners-future50.jpg");
}

.qms {
  background-image: url("../imgs/partners-qms-gray.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.qms:hover {
  background-image: url("../imgs/partners-qms.jpg");
}

.norfolk {
  background-image: url("../imgs/partners-norfolk-gray.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.norfolk:hover {
  background-image: url("../imgs/partners-norfolk.jpg");
}

.future-growth {
  background-image: url("../imgs/awards-future-growth-gray.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.future-growth:hover {
  background-image: url("../imgs/awards-future-growth.jpg");
}

.royal-training {
  background-image: url("../imgs/awards-royal-training-gray.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.royal-training:hover {
  background-image: url("../imgs/awards-royal-training.jpg");
}

.skills-tomorrow {
  background-image: url("../imgs/awards-skills-tomorrow-gray.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.skills-tomorrow:hover {
  background-image: url("../imgs/awards-skills-tomorrow.jpg");
}



//---------------------------------------
//  Media Queries
//---------------------------------------

// Laptops ------------------------------

@media (min-width:768px) {

  .partners-and-awards {
    display: flex;
  }
}

@media (max-width:991px)
and (min-width:768px) {

  .partners-and-awards-container {
    width: 680px;
  }
}


// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {

  .partners-and-awards-container {
    width: 880px;
  }

  .partners div {
    height: 65px;
  }

  .awards div {
    height: 50px;
  }
}


// ExtraLarge ------------------------------

@media (min-width:1261px) {

  .partners-and-awards-container {
    width: 1055px;
  }

  .partners div {
    height: 75px;
  }

  .awards div {
    height: 55px;
  }
}
