//---------------------------------------
//  Slider
//---------------------------------------

.slider {
  background-image: url("../imgs/web-design.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

// Slider overlay containg info ----------------------------

.overlay {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7), black 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.slider-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.overlay h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0 0 0;
}

.overlay p {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 25px 20px;
  max-width: 400px;
}

// Find Out More Button ----------------------------

.find-out-more {
  line-height: 50px;
  height: auto;
  padding: 5px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: $web-design;
  border: none;
  border-radius: 3px;
}

.find-out-more:hover {
  background-color: $web-design-hover;
}

.find-out-more .arrow {
  padding-left: 10px;
}

// Line of dots indicating which slide user is on ----------------------------
.dot-line {
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  transform: scale(.7);
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: white;
  opacity: 0.6;
  margin: 0 15px;
}

.dot:hover {
  opacity: .4;
}

.active-dot {
  opacity: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: white;
}

.active-dot-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  align-items: center;
  margin: 0 6px;
}



//---------------------------------------
//  Media Queries
//---------------------------------------

// Mobiles and Tablets ------------------------------

@media (max-width:767px) {

  .slider {
    top: 19vh;
    height: 81vh;
  }
}

@media (min-width:768px) {
  .slider-title-container {
    align-items: flex-start;
  }
  .slider-title-container p {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width:768px)
and (max-width:992px) {

  .slider {
    top: 11vh;
    height: 89vh;
  }

  .slider-title-container {
    width: 720px;
  }
}


// Desktops & TVs ------------------------------

@media (min-width:992px) {

  .slider {
    top: 23.5vh;
    height: 76.5vh;
  }

  .overlay p {
    text-align: left;
    padding: 15px 1px;
  }
}

@media (max-width:1260px)
and (min-width:992px) {

  .slider-title-container {
    width: 940px;
  }
}


// ExtraLarge ------------------------------

@media (min-width:1261px) {

  .slider-title-container {
    width: 1170px;
  }
}
