//---------------------------------------
//  Base Styles
//---------------------------------------

@use "utilities/variables";

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
  width: 100%;
  background-color: #fff;
  transition: all 300ms ease-in-out;
  position: relative;
  overflow: hidden;
}

.page-container {
  overflow-y: scroll;
  height: 100vh;
}

.read-more {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: .4px;
}

.line {
  width: 30px;
  height: 3.5px;
}

.fa-code {
  color: variables.$web-design;
}

.fa-desktop {
  color: variables.$it-support;
}

.fa-phone-alt {
  color: variables.$telecoms-services;
}

.fa-th {
  color: variables.$bespoke-software;
}

.fa-chart-bar {
  color: variables.$digital-marketing;
}

.fa-shield-alt {
  color: variables.$cyber-security;
}

.star {
  color: variables.$news-2;
  margin-left: 3px;
}

// Validation Boxes
.green-validation, .red-validation {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3px 15px;
  border-radius: 1px;
  margin-bottom: 20px;
}

.green-validation {
  background-color: variables.$form-submitted;
  color: white;
}

.red-validation {
  background-color: variables.$validation-box;
  color: variables.$validation-box-text;
  border: 1px solid variables.$validation-box-border;
}

.green-validation p, .red-validation p {
  position: relative;
  top: 7px;
}

.green-validation i, .red-validation i {
  cursor: pointer;
  margin-left: 10px;
}

.green-validation i {
  color: variables.$form-submitted-x;
}

.green-validation i:hover {
  color: variables.$form-submitted-x-hover;
}

.red-validation i {
  color: variables.$validation-box-x;
}

.red-validation i:hover {
  color: variables.$validation-box-x-hover;
}
