//---------------------------------------
//  Footer
//---------------------------------------

@use "utilities/variables";

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: variables.$primary-color;
  color: white;
  padding: 40px 15px 0 15px;
  font-family: 'Poppins', sans-serif;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin: 0 10px;
}

footer h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 25px;
}

.social-title {
  margin-bottom: 15px;
}

footer ul {
  padding-left: 0;
  margin-bottom: 35px;
}

footer li {
  list-style: none;
  font-size: 13px;
  margin-bottom: 3px;
}

.phone-number {
  margin-top: 40px;
}

.filler {
  color: variables.$primary-color;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

.social-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

footer .social {
  display: flex;
  flex-grow: 1;
  min-width: 170px;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: variables.$background-color-3;
  border: none;
}

.social-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 25px;
}

.social-icon {
  color: white;
}

.facebook {
  margin: 15px 15px 15px 0;
}

.facebook:hover {
  background-color: #3b5998;
}

.twitter {
  margin: 15px 0 15px 15px;
}

.twitter:hover {
  background-color: #00aced;
}

.insta {
  margin: 15px 15px 15px 0;
}

.insta:hover {
  background-color: #d93175;
}

.linkedin {
  margin: 15px 0 15px 15px;
}

.linkedin:hover {
  background-color: #0077b5;
}



//---------------------------------------
//  Media Queries
//---------------------------------------


@media (max-width:420px) {

  footer .social {
    min-width: 110px;
  }
}

// Tablets ------------------------------

@media (max-width:767px)
and (min-width:601px) {

  footer .social {
    min-width: 230px;
  }
}

// Laptops ------------------------------

@media (max-width:991px)
and (min-width:768px) {

  .footer-section {
    width: 340px;
  }

  footer .social {
    min-width: 150px;
  }
}


// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {

  .footer-section {
    width: 455px;
  }

  footer .social {
    min-width: 210px;
  }
}

@media (max-width:1260px) {

  .filler {
    display: none;
  }
}

// Extra Large Screens ------------------------------

@media (min-width:1261px) {

  .footer-section {
    width: 270px;
  }

  footer .social {
    min-width: 120px;
  }
}
