//---------------------------------------
//  Sign Up Form
//---------------------------------------

@use "utilities/variables";

.form {
  padding: 45px;
  display: flex;
  flex-direction: column;
  color: variables.$primary-color;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.form-container {
  display: flex;
  background-color: variables.$background-color-4;
}

// Heading ------------------------------
.form h2 {
  font-size: 32px;
  font-weight: 400;
}

// Inputs ------------------------------

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input-section label,
.form p {
  font-size: 16px;
  font-weight: 600;
}

.star {
  color: variables.$news-2;
  margin-left: 3px;
}

.form-input-section input {
  border: 1px solid variables.$primary-border-color;
  border-radius: 3px;
  height: 45px;
  margin: 3px 0 10px 0;
  padding: 0 10px;
}

.form-input-section input:focus {
  outline: none;
  border: 1px solid #87CEEB;
  box-shadow: 0 0 0.3rem 0.1rem lightblue;
}


// Checkbox and Privacy Policy ------------------------------
.priv-policy {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.priv-policy p {
  margin-left: 20px;
  line-height: 32px;
}

.priv-policy a {
  color: variables.$primary-color;
}

.priv-policy a:hover {
  color: variables.$primary-color-hover;
}

.priv-policy input {
  -webkit-appearance: none;
  border: 3px solid variables.$primary-color;
  color: white;
  border-radius: 3px;
  height: 32px;
  min-width: 32px;
  max-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priv-policy input:after {
  padding: 4px 7px;
  content: '';
}

.priv-policy input:checked:after {
  background-color: variables.$primary-color;
  content: '✔';
}


// Subscribe button ------------------------------
.subscribe {
  align-self: flex-start;
  background-color: variables.$primary-color;
}

.subscribe:hover {
  background-color: variables.$primary-color-hover;
}



//---------------------------------------
//  Media Queries
//---------------------------------------

// Laptops ------------------------------

@media (min-width:768px) {

  .form-container {
    justify-content: center;
  }

  .form {
    padding: 45px 0;
  }
}

@media (max-width:991px)
and (min-width:768px) {

  .form {
    width: 660px;
  }
}


// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {

  .form input {
    width: 425px;
  }

  .form {
    width: 880px;
  }
}

@media (min-width:992px) {

  .f1 {
    margin-right: 30px;
  }

  .form-input-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// Extra Large Screens ------------------------------

@media (min-width:1261px) {

  .form {
    width: 1110px;
  }

  .form input {
    width: 540px;
  }
}
