@use "utilities/variables";

.form-section {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 50px 15px;
}

.form-section .f-container {
  display: flex;
  flex-direction: column;
}

// info -----------------
.form-section .f-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

.f-info h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  color: variables.$dark-blue;
}

.f-info a {
  position: relative;
  bottom: 7px;
  font-size: 26px;
  font-weight: 600;
  line-height: 55px;
  text-decoration: none;
  color: variables.$web-design;
}

.f-info a:hover {
  text-decoration: underline;
  color: variables.$web-design;
}

.f-info i {
  position: relative;
  top: 4px;
  font-size: 22px;
  margin: 0 0 0 6px;
  line-height: 0px;
}

.f-info .hours-info-button {
  cursor: pointer;
}

.f-info .hours-info-button:hover {
  text-decoration: underline;
}

.f-info .hours-info {
  display: none;
  flex-direction: column;
  overflow-y: hidden;
}

.hours-info p {
  color: variables.$secondary-color;
  line-height: 30px;
  margin-top: 10px;
}

.hours-info .hi-bold {
  font-weight: 600;
  color: variables.$dark-blue;
}

@keyframes hours-info-appear {
  0% {
    height: 0px;
  }

  100% {
    height: 420px;
  }
}

@keyframes hours-info-disappear {
  0% {
    height: 420px;
  }

  100% {
    height: 0px;
  }
}


// Form -----------------------
.form-section .contact-form {
  display: flex;
  flex-direction: column;
  background-color: variables.$secondary-background-color;
  padding: 30px;
  border-radius: 10px;
}

.contact-form .first-4-inputs, .first-4-inputs .first-4-inputs-container {
  display: flex;
  flex-direction: column;
}

.contact-form label, .first-4-inputs label {
  font-size: 16px;
  font-weight: 600;
  margin: 0 3px 0 0;
}

.contact-form .label-color {
  color: variables.$dark-blue;
}

.contact-form input, .first-4-inputs input {
  height: 45px;
  margin: 5px 0 20px 0;
}

.contact-form textarea {
  height: 100px;
  margin: 5px 0 10px 0;
}

.contact-form input, .first-4-inputs input, .contact-form textarea {
  border-radius: 2px;
  border: 1px solid variables.$primary-border-color-3;
  box-shadow: 0 0 0.1rem 0.05rem rgba(0,0,0,0.06);
}

.contact-form .f-input:focus, .contact-form textarea:focus {
  outline: none;
  border: 1px solid #87CEEB;
  box-shadow: 0 0 0.3rem 0.15rem lightblue;
}

.contact-form .f-tickbox {
  display: flex;
}

.f-tickbox input {
  -webkit-appearance: none;
  border: 3px solid variables.$primary-color;
  color: white;
  border-radius: 3px;
  height: 32px;
  min-width: 32px;
  max-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.f-tickbox input:after {
  padding: 4px 7px;
  content: '';
}

.f-tickbox input:checked:after {
  background-color: variables.$primary-color;
  content: '✔';
}

.f-tickbox label {
  margin: 10px 10px 20px 10px;
  line-height: 30px;
}

.f-tickbox label a {
  color: variables.$dark-blue;
}

.f-tickbox label a:hover {
  color: black;
}

.contact-form .f-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  border-radius: 3px;
  color: white;
  background-color: variables.$web-design;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
}

.contact-form .f-submit:hover {
  background-color: variables.$web-design-hover;
}


// Media Queries -----------------
@media (max-width:400px) {
  @keyframes hours-info-appear {
    0% {
      height: 0px;
    }

    100% {
      height: 480px;
    }
  }

  @keyframes hours-info-disappear {
    0% {
      height: 480px;
    }

    100% {
      height: 0px;
    }
  }
}

@media (min-width:550px) {
  @keyframes hours-info-appear {
    0% {
      height: 0px;
    }

    100% {
      height: 370px;
    }
  }

  @keyframes hours-info-disappear {
    0% {
      height: 370px;
    }

    100% {
      height: 0px;
    }
  }
}

@media (min-width:767px) {
  .form-section .f-container {
    width: 720px;
  }

  @keyframes hours-info-appear {
    0% {
      height: 0px;
    }

    100% {
      height: 300px;
    }
  }

  @keyframes hours-info-disappear {
    0% {
      height: 300px;
    }

    100% {
      height: 0px;
    }
  }
}

@media (min-width:992px) {
  .form-section .f-container {
    width: 940px;
  }

  @keyframes hours-info-appear {
    0% {
      height: 0px;
    }

    100% {
      height: 260px;
    }
  }

  @keyframes hours-info-disappear {
    0% {
      height: 260px;
    }

    100% {
      height: 0px;
    }
  }
}

@media (min-width:1261px) {
  .form-section .f-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1170px;
  }

  .form-section .contact-form {
    width: 770px;
  }

  .form-section .f-info {
    width: 370px;
  }

  .contact-form .first-4-inputs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .first-4-inputs .first-4-inputs-container {
    width: 340px;
  }

  @keyframes hours-info-appear {
    0% {
      height: 0px;
    }

    100% {
      height: 420px;
    }
  }

  @keyframes hours-info-disappear {
    0% {
      height: 420px;
    }

    100% {
      height: 0px;
    }
  }
}
