//---------------------------------------
//  Header
//---------------------------------------

@use "utilities/variables";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 0 15px;
  background-color: white;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0,0,0,0.1);
  // position: fixed;
  transition: all 300ms ease-in-out;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-height: 85px;
  margin: 0 15px;
  padding-bottom: 10px;
}


// Sticky Header CSS ---------------------------
.scroll-down header {
  transform: translate35(0, -100%, 0);
  border-bottom: 5px solid blue;
}

.scroll-up header {
  border-bottom: 5px solid orange;
}


// Logo and phone icon -------------------

.logo {
  margin-right: 35px;
  max-width: 345px;
  min-width: 50px;
  margin-right: auto;
}

.phone {
  position: sticky;
  margin: 0 30px 0 30px;
  padding: 5px 0;
  color: variables.$primary-color;
  display: flex;
}

.phone:hover {
  color: variables.$primary-color-hover;
  border-bottom: solid 3px variables.$primary-color-hover;
}

// Menu button --------------------------

.menu-but {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$primary-color;
  color: white;
  width: 65px;
  font-size: .75rem;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
}

.menu-but:hover {
  background-color: variables.$primary-color-hover;
}

.hamburger {
  background-color: white;
  width: 34px;
  height: 3px;
  margin: 3px 0;
}

.menu-but p {
  margin: 1px 0 0 0;
}


// Mobile Search bar --------------------------

.nav-bot {
  display: flex;
  width: 100%;
  height: 45px;
  background-color: variables.$input;
  border: 2px solid variables.$input;
  border-radius: 2px;
  margin: 0 15px;
}

.nav-bot input {
  flex: auto;
  padding-left: 20px;
  color: white;
  border: none;
  background: none;
}

.search {
  align-self: center;
  padding-bottom: 3px;
  color: variables.$primary-color;
}


// Tablet Search bar --------------------------

.tab-search {
  display: none;
  position: sticky;
  margin: 0 20px;
  height: 60px;
  border: none;
}

.tab-search button {
  width: 60px;
  height: 60px;
  background-color: #999aa2;
  border: 1px solid #999aa2;
  border-radius: 0 3px 3px 0;
}

.tab-search button:hover {
  background-color: #7e808a;
}

.tab-search button .search {
  color: white;
}

.tab-search input {
  display: flex;
  border: 1px solid variables.$primary-border-color;
  padding-left: 15px;
  width: 190px;
  box-shadow: inset 0 0 2px 1px variables.$input;
}

.tab-search input:focus {
  outline: none;
  border: 1px solid #87CEEB;
  box-shadow: 0 0 0.3rem 0.1rem lightblue;
}


// Support & Contact Buttons --------------------------

.support,
.contact {
  height: 60px;
  display: none;
  align-items: center;
  margin-left: 20px;
}

.support i,
.contact i {
  margin-right: 10px;
}

.support {
  background-color: variables.$support;
}

.support:hover {
  background-color: variables.$support-hover;
}

.contact {
  background-color: variables.$contact;
}

.contact:hover {
  background-color: variables.$contact-hover;
}


// Navigation Large Menu --------------------------

.nav-large-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97vw;
  box-shadow: 20px 0 0 0 #333645, -20px 0 0 0 #333645, 20px 1px 0 0 gray, -20px 1px 0 0 gray;
  background-color: #333645;
}

.nav-large {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333645;
  padding: 0;
  margin-bottom: 1px;
  font-family: 'Poppins', sans-serif;
  border-right: 1.4px solid variables.$primary-color-hover;
  border-left: 1.4px solid variables.$primary-border-color;
}

.item-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 16%;
}

.menu-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 22px 0 15px 0;
  border-right: 1px solid variables.$primary-border-color;
  border-left: 1px solid variables.$primary-color-hover;
  text-decoration: none;
}

.menu-item h6,
.menu-item h3 {
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.menu-item h6 {
  font-size: 10px;
}

.menu-item h3 {
  font-size: 18px;
}

.menu-item i {
  margin-bottom: 10px;
}


// Large Nav hover colors --------------------
.web-container:hover .nav-web,
.web-container:hover .nav-web i {
  background-color: variables.$web-design;
  color: white;
}

.it-container:hover .nav-it,
.it-container:hover .nav-it i {
  background-color: variables.$it-support;
  color: white;
}

.telecoms-container:hover .nav-telecoms,
.telecoms-container:hover .nav-telecoms i {
  background-color: variables.$telecoms-services;
  color: white;
}

.software-container:hover .nav-software,
.software-container:hover .nav-software i {
  background-color: variables.$bespoke-software;
  color: white;
}

.marketing-container:hover .nav-marketing,
.marketing-container:hover .nav-marketing i {
  background-color: variables.$digital-marketing;
  color: white;
}

.security-container:hover .nav-security,
.security-container:hover .nav-security i {
  background-color: variables.$cyber-security;
  color: white;
}


// Sub Menus --------------------------

.sub-menu {
  display: none;
  position: absolute;
  justify-content: center;
  left: 0;
  top: 195px;
  width: 100%;
}

.sub-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-transform: capitalize;
  height: 40px;
  width: 100%;
}

.sub-menu a,
.sub-menu p {
  font-size: 13px;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.sub-menu a:hover {
  color: white;
}


// Sub Menu Colors --------------------------

.sub-web {
  background-color: variables.$web-design-hover;
}

.sub-it {
  background-color: variables.$it-support-hover;
}

.sub-telecoms {
  background-color: variables.$telecoms-services-hover;
}

.sub-software {
  background-color: variables.$bespoke-software-hover;
}

.sub-marketing {
  background-color: variables.$digital-marketing-hover;
}

.sub-security {
  background-color: variables.$cyber-security-hover;
}


// Sub Menu Hover --------------------------
.item-container:hover .sub-menu {
  display: flex;
}




//---------------------------------------
//  Media Queries
//---------------------------------------

// Mobiles ------------------------------
@media (max-width:600px) {
  .logo {
    width: 250px;
    flex-grow: 1;
  }
}


// Tablets ------------------------------

@media (max-width:767px) {
  header {
    padding-bottom: 21px;
  }
}


// Laptops ------------------------------

@media (max-width:991px) {

  .nav-large {
    display: none;
  }
}

@media (min-width:767px) {

  .nav-top .phone {
    display: none;
  }

  .nav-bot {
    display: none;
  }

  .nav-top {
    padding-bottom: 10px;
  }

  .tab-search {
    display: flex;
  }
}

@media (min-width:768px)
and (max-width:991px) {
  .nav-top,
  .nav-large,
  .sub-menu-container {
    width: 720px;
  }
}

// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {


  .tab-search input {
    display: none;
  }

  .tab-search:focus-within > input {
    display: flex;
  }

  .tab-search button {
    border-radius: 3px;
  }

  .tab-search:focus-within > button {
    border-radius: 0 3px 3px 0;
  }

  .tab-search:focus-within .contact {
    display: none;
  }

  .tab-search input {
    width: 114px;
  }

  .nav-top,
  .nav-large,
  .sub-menu-container {
    width: 940px;
  }
}

@media (min-width:992px) {

  .support,
  .contact {
    display: flex;
  }

  .nav-top {
    margin: 0;
  }
}


// ExtraLarge ------------------------------

@media (min-width:1261px) {

  .tab-search input {
    width: 300px;
  }

  .sub-menu a,
  .sub-menu p {
    font-size: 16px;
    margin: 0 15px;
  }

  .nav-top,
  .nav-large,
  .sub-menu-container {
    width: 1170px;
  }
}
