//---------------------------------------
//  Latest News
//---------------------------------------

@use "utilities/variables";

// Title Section ------------------------
.title {
  background-color: white;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0,0,0,0.1);
}

.title h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: variables.$primary-color;
  border-bottom: 5px solid variables.$primary-color;
  margin: 0 15px;
  padding: 40px 0;
  width: 71px;
  letter-spacing: 0.4px
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding: 0 auto;
}


// Main Section ------------------------
.latest {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: variables.$primary-background-color;
  width: 100%;
  padding: 30px 0;
}

// Card Styles ------------------------
.latest-card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: white;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0,0,0,0.1);
  position: relative;
}

// Top Section ------------------------

.news-image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.card-image-1 {
  width: 100%;
  transition: transform .3s;
}

.news-image-container:hover .card-image-1 {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(.68,.01,.51,.99);
}

.news-image-overlay {
  position: absolute;
  background-color: rgba(255,255,255,0);
  transition: background-color 0.3s;
  width: 100%;
  height: 100%;
}

.news-image-container:hover .news-image-overlay {
  background-color: rgba(255,255,255,0.2);
  transition-timing-function: cubic-bezier(.68,.01,.51,.99);
}

.sticker {
  width: 80px;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
}

.sticker:hover h6 {
  text-decoration: underline;
}

.sticker h6 {
  position: relative;
  top: 3px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.latest-card .content,
.latest-card .details {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: variables.$secondary-color;
}

.latest-card .content {
  padding: 30px 30px 0 30px;
}

.latest-card a {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: none;
}

.latest-card p {
  font-size: 13px;
  font-weight: 400;
  padding-top: 20px;
}

.latest-card button {
  margin-bottom: 30px;
}

// Bottom Section ------------------------
.content a:hover {
  text-decoration: underline;
}

.latest-card .line-break {
  display: flex;
  margin: auto 30px 0 30px;
  width: auto;
  border-top: 1px solid variables.$primary-border-color;
}

.author {
  display: flex;
  align-items: center;
  padding: 20px 30px 30px 30px;
}

.card-image-2 {
  border-radius: 50%;
  height: 47px;
  width: 47px;
  margin-right: 20px;
}

.details p {
  margin: 0;
  padding: 2px 0;
}

.details .name {
  font-weight: 600;
  color: variables.$primary-color;
}

// Colors ---------------------------------------

.careers a {
  color: variables.$careers;
}

.careers a:hover {
  color: variables.$careers-hover
}

.careers button {
  background-color: variables.$careers;
}

.careers button:hover {
  background-color: variables.$careers-hover;
}

.news-1 a {
  color: variables.$news-1;
}

.news-1 a:hover {
  color: variables.$news-1-hover;
}

.news-1 button {
  background-color: variables.$news-1;
}

.news-1 button:hover {
  background-color: variables.$news-1-hover;
}

.news-2 a {
  color: variables.$news-2;
}

.news-2 a:hover {
  color: variables.$news-2-hover;
}

.news-2 button {
  background-color: variables.$news-2;
}

.news-2 button:hover {
  background-color: variables.$news-2-hover;
}

.careers .sticker {
  background-color: variables.$careers;
}

.news-1 .sticker {
  background-color: variables.$news-1;
}

.news-2 .sticker {
  background-color: variables.$news-2;
}



//---------------------------------------
//  Media Queries
//---------------------------------------

// Laptops ------------------------------

@media (max-width:991px)
and (min-width:768px) {

  .latest-card {
    width: 345px;
  }

  .news-2 {
    display: none;
  }

  .title-container {
    width: 750px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}


// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {

  .latest-card {
    width: 455px;
  }

  .news-2 {
    display: none;
  }

  .title-container {
    width: 970px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}


// Extra Large ------------------------------

@media (min-width:1261px) {

  .latest-card {
    width: 370px;
  }

  .title-container {
    width: 1200px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}
