//---------------------------------------
//  Header
//---------------------------------------

@use "utilities/variables";

.pop-up-menu {
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  right: -260px;
  background-color: variables.$primary-color;
  width: 260px;
  z-index: 10;
}

.pop-up-menu a, .pop-up-menu h3, .pop-up-menu h6 {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.pop-up-menu h6 {
  font-size: 10px;
  margin-bottom: 5px;
}

.pop-up-menu h3 {
  font-size: 18px;
}

.pop-up-menu a:hover {
  color: white;
}

.pop-up-menu .pop-up-line {
  height: 1px;
  width: 100%;
  background-color: variables.$primary-color-dark;
  box-shadow: 0 1px 0 0 variables.$gray;
  z-index: 20;
}

// Mobile Section -------------
.pop-up-menu .mobile-section {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.pop-up-menu .pop-up-tile, .pop-up-menu .pop-up-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.pop-up-menu .pop-up-tile {
  background-color: variables.$primary-color;
  border: 1px solid variables.$secondary-color-clear;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 1px 1px variables.$background-color-3;
}

.pop-up-menu .pop-up-list {
  background-color: variables.$primary-color-hover;
  border-radius: 3px;
}

.pop-up-menu .pop-up-container {
  display: flex;
  flex-direction: column;
}

.pop-up-menu .pop-up-container:hover .pop-up-tile {
  background-color: variables.$secondary-color-clear;
}

.pop-up-menu .mobile-section a {
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

.pop-up-menu .mobile-section i {
  margin-bottom: 15px;
}

.pop-up-menu .last-list {
  margin-bottom: 0;
}

// Main Section -------------
.pop-up-menu .main-section {
  display: flex;
  flex-direction: column;
}

.pop-up-menu .pop-section {
  display: flex;
  flex-direction: column;
}

.pop-up-menu .pop-section:hover .pop-title {
  background-color: variables.$secondary-color-clear;
}

.pop-up-menu .pop-title {
  font-size: 16px;
  padding: 20px;
}

.pop-up-menu .pop-item {
  font-size: 13px;
  padding: 20px;
  background-color: variables.$primary-color-hover;
}

.pop-up-menu .main-section i {
  margin-right: 15px;
  font-size: 10px;
  position: relative;
  bottom: 2px;
}


// Page Overlay and JS Classes ------------------
.page-cover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: variables.$background-color-3;
}

.menu-non-active {
  transform: translate3d(0, 0, 0);
}

.menu-active {
  transform: translate3d(-260px, 0, 0);
}

// keyframes for menu button animation ------------------------
// Line 1 forwards & backwards
@keyframes line-key-1-f {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  25% {
    top: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  75% {
    top: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  100% {
    top: 9px;
    transform: rotate(45deg);
    border-radius: 3px;
  }
}

@keyframes line-key-1-b {
  0% {
    top: 9px;
    transform: rotate(45deg);
    border-radius: 3px;
  }

  25% {
    top: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  75% {
    top: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

// Line 2 forwards & backwards
@keyframes line-key-2-f {
  0% {
    background-color: rgba(250,250,250, 1);
  }

  49% {
    background-color: rgba(250,250,250, 1);
  }

  51% {
    background-color: rgba(250,250,250, 0);
  }

  100% {
    background-color: rgba(250,250,250, 0);
  }
}

@keyframes line-key-2-b {
  0% {
    background-color: rgba(250,250,250, 0);
  }

  49% {
    background-color: rgba(250,250,250, 0);
  }

  51% {
    background-color: rgba(250,250,250, 1);
  }

  100% {

    background-color: rgba(250,250,250, 1);
  }
}

// Line 3 forwards & backwards
@keyframes line-key-3-f {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }

  25% {
    bottom: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  75% {
    bottom: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  100% {
    bottom: 9px;
    transform: rotate(-45deg);
    border-radius: 3px;
  }
}

@keyframes line-key-3-b {
  0% {
    bottom: 9px;
    transform: rotate(-45deg);
    border-radius: 3px;
  }

  25% {
    bottom: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  75% {
    bottom: 9px;
    transform: rotate(0deg);
    border-radius: 0px;
  }

  100% {
    bottom: 0;
    transform: rotate(0deg);
  }
}


//---------------------------------------
//  Media Queries
//---------------------------------------
@media (min-width:992px) {
  .pop-up-menu {
    width: 330px;
    right: -330px;
  }

  .pop-up-menu .mobile-section {
    display: none;
  }

  .menu-active {
    transform: translate3d(-330px, 0, 0);
  }
}
