//---------------------------------------
//  Services
//-----------------------------------------

@use "utilities/variables";

.services-section {
  padding: 30px 0;
  background-color: variables.$primary-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.services {
  min-width: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  margin: 15px 15px;
  background-color: white;
  border: solid 1px variables.$primary-border-color;
  border-radius: 3px;
  color: variables.$primary-color;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0,0,0,0.1);
  cursor: pointer;
}

.services h2 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.services p {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 10px 0 20px 0;
  max-width: 90%;
}

.services .read-more {
  margin-top: auto;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0 20px 0;
  color: white;
}

.services .line {
  background-color: variables.$primary-color;
  margin: 5px 0;
}


// Bespoke Software ----------------------------

.bespoke-software .icon,
.bespoke-software .read-more {
  background-color: variables.$bespoke-software;
}

.bespoke-software:hover .icon,
.bespoke-software:hover .read-more,
.bespoke-software:hover .line {
  background-color: white;
  color: variables.$bespoke-software;
}

.bespoke-software:hover {
  background-color: variables.$bespoke-software;
  color: white;
}


// IT Support ----------------------------

.it-support .icon,
.it-support .read-more {
  background-color: variables.$it-support;
}

.it-support:hover .icon,
.it-support:hover .read-more,
.it-support:hover .line {
  background-color: white;
  color: variables.$it-support;
}

.it-support:hover {
  background-color: variables.$it-support;
  color: white;
}


// Digital Marketing ----------------------------

.digital-marketing .icon,
.digital-marketing .read-more {
  background-color: variables.$digital-marketing;
}

.digital-marketing:hover .icon,
.digital-marketing:hover .read-more,
.digital-marketing:hover .line {
  background-color: white;
  color: variables.$digital-marketing;
}

.digital-marketing:hover {
  background-color: variables.$digital-marketing;
  color: white;
}


// Telecoms Services ----------------------------

.telecoms-services .icon,
.telecoms-services .read-more {
  background-color: variables.$telecoms-services;
}

.telecoms-services:hover .icon,
.telecoms-services:hover .read-more,
.telecoms-services:hover .line {
  background-color: white;
  color: variables.$telecoms-services;
}

.telecoms-services:hover {
  background-color: variables.$telecoms-services;
  color: white;
}


// Web Design ----------------------------

.web-design .icon,
.web-design .read-more {
  background-color: variables.$web-design;
}

.web-design:hover .icon,
.web-design:hover .read-more,
.web-design:hover .line {
  background-color: white;
  color: variables.$web-design;
}

.web-design:hover {
  background-color: variables.$web-design;
  color: white;
}


// Cyber Security ----------------------------

.cyber-security .icon,
.cyber-security .read-more {
  background-color: variables.$cyber-security;
}

.cyber-security:hover .icon,
.cyber-security:hover .read-more,
.cyber-security:hover .line {
  background-color: white;
  color: variables.$cyber-security;
}

.cyber-security:hover {
  background-color: variables.$cyber-security;
  color: white;
}


// Developer Training ----------------------------

.developer-training .icon,
.developer-training .read-more {
  background-color: variables.$developer-training;
}

.developer-training:hover .icon,
.developer-training:hover .read-more,
.developer-training:hover .line {
  background-color: white;
  color: variables.$developer-training;
}

.developer-training:hover {
  background-color: variables.$developer-training;
  color: white;
}



//---------------------------------------
//  Media Queries
//---------------------------------------

// Laptops ------------------------------

@media (max-width:991px)
and (min-width:768px) {

  .services-section .bespoke-software,
  .services-section .it-support,
  .services-section .digital-marketing {
    width: 720px;
  }

  .services-section .telecoms-services,
  .services-section .web-design,
  .services-section .cyber-security,
  .services-section .developer-training {
    width: 345px;
    height: 320px;
  }

  .services-container {
    width: 750px;
  }
}


// Desktops ------------------------------

@media (max-width:1260px)
and (min-width:992px) {

  .services-section .bespoke-software,
  .services-section .it-support,
  .services-section .digital-marketing {
    width: 294px;
    height: 360px;
  }

  .services-section .telecoms-services,
  .services-section .web-design,
  .services-section .cyber-security,
  .services-section .developer-training {
    width: 455px;
  }

  .services-container {
    width: 1000px;
  }
}


// ExtraLarge ------------------------------

@media (min-width:1261px) {

  .services-section .bespoke-software,
  .services-section .it-support,
  .services-section .digital-marketing {
    width: 370px;
    height: 340px;
  }

  .services-section .telecoms-services,
  .services-section .web-design,
  .services-section .cyber-security,
  .services-section .developer-training {
    width: 270px;
    height: 340px;
  }

  .services-container {
    width: 1260px;
  }
}
