//---------------------------------------
//  Slider
//---------------------------------------

@use "utilities/variables";

.slick {
  width: 92%;
}

.slick .slider {
  background-image: url("../imgs/web-design.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Slider overlay containg info ----------------------------

.overlay {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7), black 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.slider-title-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  text-align: center;
}

.overlay p {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 25px 20px;
  max-width: 400px;
}

// Find Out More Button ----------------------------

.find-out-more {
  padding: 15px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 3px;
}

.find-out-more:hover {
  background-color: variables.$web-design-hover;
}

.find-out-more .arrow {
  padding-left: 10px;
}

.slide-1 button {
  background-color: variables.$web-design;
}
.slide-1 button:hover {
  background-color: variables.$web-design-hover;
}

.slide-2 button {
  background-color: variables.$it-support;
}
.slide-2 button:hover {
  background-color: variables.$it-support-hover;
}

.slide-3 button {
  background-color: variables.$telecoms-services;
}
.slide-3 button:hover {
  background-color: variables.$telecoms-services-hover;
}

.slide-4 button {
  background-color: variables.$bespoke-software;
}
.slide-4 button:hover {
  background-color: variables.$bespoke-software-hover;
}

.slide-5 button {
  background-color: variables.$digital-marketing;
}
.slide-5 button:hover {
  background-color: variables.$digital-marketing-hover;
}

.slide-6 button {
  background-color: variables.$cyber-security;
}
.slide-6 button:hover {
  background-color: variables.$cyber-security-hover;
}




// Line of dots indicating which slide user is on ----------------------------
// .dot-line {
//   display: flex;
//   align-items: center;
//   margin-bottom: 5vh;
//   transform: scale(.7);
// }
//
// .dot {
//   width: 15px;
//   height: 15px;
//   border-radius: 50%;
//   border: none;
//   background-color: white;
//   opacity: 0.6;
//   margin: 0 15px;
// }
//
// .dot:hover {
//   opacity: .4;
// }
//
// .active-dot {
//   opacity: 1;
//   width: 15px;
//   height: 15px;
//   border-radius: 50%;
//   border: none;
//   background-color: white;
// }
//
// .active-dot-ring {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 3px solid white;
//   border-radius: 50%;
//   width: 28px;
//   height: 28px;
//   align-items: center;
//   margin: 0 6px;
// }



//---------------------------------------
//  Media Queries
//---------------------------------------

// Mobiles and Tablets -----------------------------

@media (min-width:768px)
and (max-width:992px) {

  .slider {
    height: 89vh;
  }
}


// Desktops & TVs ------------------------------

@media (min-width:992px) {
  .slider-title-container {
    align-items: flex-start;
  }
  .slider-title-container p {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

  .slider {
    height: 76.5vh;
  }

  .overlay p {
    text-align: left;
    padding: 15px 1px;
  }
}

@media (max-width:1260px)
and (min-width:992px) {

  .slider-title-container {
    width: 940px;
  }
}


// ExtraLarge ------------------------------

@media (min-width:1261px) {

  .slider-title-container {
    width: 1170px;
  }
}
