//---------------------------------------
//  variables
//---------------------------------------


// Colours ------------------------------

$primary-color: #333645;
$primary-color-hover: #22242e;

$secondary-color: rgba(128,128,128,1);

$primary-background-color: rgba(0,0,0,0.04);

$primary-border-color: rgba(128,128,128,0.4);

$input: rgba(0,0,0,.1);


// Colors, Services -----------------------

$bespoke-software: #67809f;

$it-support: #4183d7;

$digital-marketing: #2ecc71;

$telecoms-services: #d64541;

$web-design: #926fb1;
$web-design-hover: #79539a;

$cyber-security: #f62459;

$developer-training: #926fb1;


// Colors, Latest --------------------------------------

$careers: #4183d7;
$careers-hover: #2a6ec6;

$news-1: #926fb1;
$news-1-hover: #7e57a0;

$news-2: #d64541;
$news-2-hover: #c42e2a;
